target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

*.jar
*.bat
*.sh

logs
*.log

# eclipse
.classpath
.project
.settings/
.factorypath

# IDEA
.idea/
*.iml
*.ipr
*.iws

# vscode
.vscode
*.jar